﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ROUTES SETUP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


    <script>
        bsurl = "@ViewBag.bsurl";
    </script>
    


</head>
<body>
   
    <hr class="uk-divider-icon">
    <div class="uk-container-expand">

        <div uk-grid>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title" id="formTitle">Add a root URL</h3>
                    <form class="uk-form-stacked">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Destination Host</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="host" type="text" placeholder="adelphatech.com">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Destination Port</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="port" type="text" placeholder="80">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Destination Controller/Action</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="downstreamPathTemplate" type="text" placeholder="/user/add">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <label class="uk-form-label" for="form-stacked-text">Destination Protocol</label>
                                <select class="uk-select" id="downstreamScheme">
                                    <option>http</option>
                                    <option>https</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">API Controller/Action</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="upstreamPathTemplate" type="text" placeholder="/user">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <label class="uk-form-label" for="form-stacked-text">Method</label>
                                <select class="uk-select" id="upstreamHttpMethod">
                                    <option>GET</option>
                                    <option>POST</option>
                                    <option>PUT</option>
                                    <option>DELETE</option>
                                </select>
                            </div>
                        </div>

                        <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" id="addurl" type="button">SAVE</button>

                    </form>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">URLs</h3>
                    <table id="datatable" class="uk-table uk-table-hover uk-table-striped" style="font-size: small; text-align: center;width:100%">
                        <thead>
                            <tr>
                                <th>Method</th>
                                <th>API Controller/Action</th>
                                <th>Destination Protocol</th>
                                <th>Destination Host</th>
                                <th>Destination Controller/Action</th>
                                <th>Destination Port</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>


    </div>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                paging: false,
                "ajax": bsurl + "/api/Cnfg/getallajx",
                "columns": [
                    { "data": "upstreamHttpMethod" },
                    { "data": "upstreamPathTemplate" },
                    { "data": "downstreamScheme" },
                    { "data": "host" },
                    { "data": "downstreamPathTemplate" },
                    { "data": "port" },
                        { "data": "actions" }
                ]
            });
        });


        $("#addurl").click(function () {

            downstreamPathTemplate = $("#downstreamPathTemplate").val();
            downstreamScheme = $("#downstreamScheme").val();
            host = $("#host").val();
            port = $("#port").val();
            upstreamPathTemplate = $("#upstreamPathTemplate").val()
            upstreamHttpMethod = $("#upstreamHttpMethod").val();


            console.log('{"downstreamPathTemplate":"' + downstreamPathTemplate + '","downstreamScheme":"' + downstreamScheme + '","downstreamHostAndPorts": [{"host": "' + host + '","port":' + port + '}],"upstreamPathTemplate":"' + upstreamPathTemplate + '","upstreamHttpMethod":["' + upstreamHttpMethod + '"]}');

            var settings = {
                "url": bsurl + "/api/Cnfg/add",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": '{"downstreamPathTemplate":"' + downstreamPathTemplate + '","downstreamScheme":"' + downstreamScheme + '","downstreamHostAndPorts": [{"host": "' + host + '","port":' + port + '}],"upstreamPathTemplate":"' + upstreamPathTemplate + '","upstreamHttpMethod":["' + upstreamHttpMethod + '"]}',
            };

            $.ajax(settings).done(function (response) {
                // console.log(response);
                $('#datatable').DataTable().ajax.reload();



            });
        });


        function deleteURL(id){
            console.log("{ \"UpstreamPathTemplate\": \"" + id + "\" }");
            var settings = {
                "url": bsurl + "/api/Cnfg/delete",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": "{ \"UpstreamPathTemplate\": \"" + id + "\" }",
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                $('#datatable').DataTable().ajax.reload();
            });

        }


    </script>

</body>
</html>