﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ROUTES SETUP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>






</head>
<body>

    <hr class="uk-divider-icon">
    <div class="uk-container-expand">

        <div uk-grid>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body">
                    <form class="uk-form-stacked" method="post" action="@ViewBag.bsurl/Setup">

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" name="username">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" type="password" name="password">
                            </div>
                        </div>

                        <button class="uk-button uk-button-primary uk-margin-small-bottom" id="addurl" type="submit">Login</button>

                    </form>
                </div>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default uk-card-body">
                    <center>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Cactus_graph.svg" />
                    </center>
                </div>
            </div>
        </div>


    </div>

    
</body>
</html>